body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
    background-color: #2f4f4f;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: #fff;
}

.header-logo {
	display: block;
	width: 15%;
	max-width: 50px;
	margin: 0 auto;
}

h1 {
	font-size: 1rem;
}


.score-container {
	display: block;
	width: 90%;
	max-width: 300px;
	padding: 1em 1.5em;
	margin: 2rem auto 0 auto;
	text-align: center;
	background-color: #fff;
	color: #4A4A4A;
	border-left:  10px solid #ACD8CB;
	border-right:  10px solid #ACD8CB;
	border-top: 1px solid #ACD8CB;
	border-bottom: 1px solid #ACD8CB;
	border-radius: 10px;
	box-sizing: border-box;
}

.strong {
	font-weight: bold;
}

.hide {
	display: none;
}

#newestScore {
	font-size: 1.5rem;
	font-weight: 800;
	margin: 1rem 0;
}

.info {
	text-align: left;
	padding: 1rem 0;
	border-top: 2px solid #ACD8CB;
}

button {
	border: 1px solid #0583bd;
    background-color: #009fe3;
    text-align: center;
    padding: 3px 19px 4px 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    font: 700 18px sans-serif;
    color: #fff;
    text-shadow: 1px 1px #07a;
}